.Calculator {
  display: inline-block;
  /*border: 1px solid green;*/
  color: #fefffe;
  background-color: #000;
  padding: 15px;
  border-radius: 10px;
}

.Calculator:focus {
  outline: none !important;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5) !important;
}

.display {
  height: 100px;
  text-align: right;
  font-family: sans-serif;
  font-weight: 200;
  /*border: 1px solid red;*/
  margin: 0 10px;
}

.row {
}

.row div {
  display: inline-block;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.row div:hover {
  background-color: #555;
  cursor: pointer;
}

.row div.zero {
  width: 152px;
  border-radius: 35px;
  text-align: left;
  padding-left: 30px;
  /*border: 1px solid purple;*/
}

.row div.btn-ops {
  background-color: #fe9400;
}

.row div.btn-ops:hover {
  opacity: 0.75;
}

.row div.btn-nums {
  background-color: #333333;
}

.row div.btn-nums:hover {
  opacity: 0.75;
}

.row div.btn-misc {
  color: #000;
  background-color: #a5a5a5;
}

.row div.btn-misc:hover {
  opacity: 0.75;
}
